
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">

    <servlet>
        <servlet-name>GetMenuServlet</servlet-name>
        <servlet-class>GetMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTitleServlet</servlet-name>
        <servlet-class>GetTitleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetMenuServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTitleServlet</servlet-name>
        <url-pattern>/title</url-pattern>
    </servlet-mapping>
</web-app>
